<!DOCTYPE html>

<html lang="en">

<head >
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge;">
    <title>104% Off Amazon d Ciscount odes &amp; Coupons for May 2019</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="shortcut icon" type="image/ico" href="assets/images/favicon.png">
	<link rel="stylesheet" href="assets/bundle.min.css">
	<link href="assets/style.css" rel="stylesheet">
	<script src="assets/js/common.js"></script>
</head>

<body class="body-store body-store-view guest">
   
    <div class="nav-mobile-container">
        <li>
            <a class="loginbox" >Log in</a>
      
        </li>
        <li>
            <a class="signupbox" >Sign up</a>
        </li>     

		<li>
            <a class="signupbox" >All Stores</a>
        </li>
		
			<li>
            <a class="signupbox" >Categories</a>
        </li>
		
		
    </div>
    <div id="layout">
        <div class="header__top-bar" id="header">
            <div class="container">
                <div class="header-container">
                    <div class="logo pull-left text-left">
                        <a href="#" title="#">
						<img src="assets/images/favicon.png" style="width:50px;"/>
                            <p>BV</p>
					
                        </a>
                    </div>
                    <div class="search">
                        <form action="#search/" id="top-search-form" class="store-search text-left">
                            <div class="input-group input-group-lg search-wrap">
                                <button type="submit" class="input-group-addon"><i class="df df-search"></i>
                                </button>
                                <input type="text" class="form-control" id="top-search" name="q" required="" placeholder="Search for stores, offers or brands" autocomplete="top-search">
                            </div>
                        </form>
                    </div>
                    <div class="top-links pull-right">
                        <div class="pull-right header__top-links-wrap pc">
                            <ul class="header__top-links">
                                <li>
                                    <a href="#users/account/#user-sfollowed" onclick="changeProfileTab(&#39;#user-sfollowed&#39;)" class="header__counter follows">
                                        <i class="df df-follow-o"></i>
                                        <span class="header__counter-box" data-count="0">
</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#users/account/#user-csaved" onclick="changeProfileTab(&#39;#user-csaved&#39;)" class="header__counter coupons">
                                        <i class="df df-save-o"></i>
                                        <span class="header__counter-box" data-count="0">
</span>
                                    </a>
                                </li>
                                <li class="forum">
                                    <a href="AllStores.html" target="_BLANK" rel="noopener">All Stores</a>
                                </li>
                                <li class="blog">
                                    <a href="#blog/" target="_BLANK">Blog</a>
                                </li>
                                <li class="signin">
                                    <a class="loginbox"  href="Categories.html">Categories</a>
                                </li>
                                <li class="signup">
                                    <a class="signupbox" >Submit Coupons</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="nav-mobile-handle pull-right">
                        <span class="nav-mobile"></span>
                    </div>
                    <div class="search-mobile-handle pull-right">
                        <span class="df df-search"></span>
                    </div>
                </div>
            </div>
        </div>
        <div id="follow-container">
            <div class="alert alert-warning" id="follow-alert">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <a class="signupbox" >
Sign up
</a> or
                            <a class="loginbox" >
Log In
</a> to permanently save your favorite stores in your account.
                            <span class="fancybox-close follow-close"><i class="df-close"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="subheader">
            <div class="container">
                <div class="box">
                    <div class="left">
                        <a href="#hop/store/1" target="_blank" class="store-hop" rel="nofollow">
                            <img src="assets/amazon.com.jpg" alt="Amazon coupons or promo codes" class="img-responsive">
                        </a>
                        <div id="registerOption" data-option="default"></div>
                    </div>
                    <div class="right">
                        <div class="top">
                            <h1>
<b>Amazon</b>
Promo codes &amp; Coupons                                                    </h1>
                        </div>
                        <div class="bottom">
                            <div class="btn-group">
                                <button data-id="1" class="follow">
                                    <i class="df df-follow-o"></i>
                                </button>
                                <a class="store-hop-btn" rel="shop_at_1" href="#hop/store/1">
Shop now
</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
	  
	  <div class="container main-container">
	  
	  
	  
	  
	     <h1 class="text-center">We love to hear from you! Send us your questions or comments via the form below.</h1>
    <form class="contact-form-wrap clearfix" id="contact_us_form" action="/mailer/sendcontactmail" method="POST" novalidate="novalidate">
        <input type="hidden" name="token" value="8ab87d4fb3600cc53fc0c5c958a250b1">
        <div class="form-group col-xs-6">
            <input type="text" class="form-control label-effect-type" name="full_name" placeholder="Your name">
        </div>
        <div class="form-group col-xs-6">
            <input type="text" class="form-control label-effect-type" name="email_address" placeholder="Your email adress">
        </div>
        <div class="form-group col-xs-12">
            <select id="contact_question_regarding" class="form-control label-effect-change" name="question_regarding" placeholder="Subject">
                <option selected="" value="">Subject</option>
                <option value="Add / Remove Coupons" style="color: #333;">Add / Remove Coupons</option>
                <option value="Business Proposal" style="color: #333;">Business Proposal</option>
                <option value="Job Opportunities" style="color: #333;">Job Opportunities</option>
                <option value="Advertising" style="color: #333;">Advertising</option>
                <option value="Other" style="color: #333;">Other</option>
            </select>
        </div>
        <div class="form-group col-xs-12">
            <textarea name="message" class="form-control label-effect-type" placeholder="Message"></textarea>
        </div>
        <div class="col-xs-12">
            <button type="submit">Send</button>
            <span class="send-loading"><em class="double-bounce1"></em>
<em class="double-bounce2"></em></span>
        </div>
    </form>
	<br>
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
    </div>
</div>
	  

    </div>

    <div class="breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="#browse/department-stores" title="Department Stores" itemprop="url"><span itemprop="title">Department Stores</span></a></li>
                        <li>Amazon Coupons &amp; Deals - May 7, 2019</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer clearfix">
   
        <footer class="site-footer">
            <div class="container text-center">
                <nav class="footer-navigation">
                    <ul>
                        <li>
                            <a href="#about-us">About Us</a>
                        </li>
                      
                        <li>
                            <a href="#browse">Categories</a>
                        </li>
                        <li>
                            <a href="#help" rel="noopener">Help</a>
                        </li>
                        <li>
                            <a href="#contact-us">Contact Us</a>
                        </li>
                    </ul>
                </nav>
                <ul class="social-icons">
                    <li>
                        <a class="social-icon" href="https://www.facebook.com" target="_BLANK" rel="noopener nofollow">
                            <i class="df df-facebook-logo"></i>
                        </a>
                    </li>
                    <li>
                        <a class="social-icon" href="https://twitter.com" target="_BLANK" rel="noopener nofollow">
                            <i class="df df-twitter-logo"></i>
                        </a>
                    </li>
                    <li>
                        <a class="social-icon" href="https://www.pinterest.com" target="_BLANK" rel="noopener nofollow">
                            <i class="df df-pinterest-logo"></i>
                        </a>
                    </li>
                    <li>
                        <a class="social-icon" href="https://www.instagram.com" target="_BLANK" rel="noopener nofollow">
                            <i class="df df-instagram-logo"></i>
                        </a>
                    </li>
                </ul>
                <nav class="footer-useful-links">
                    <ul>
                        <li>
                            <a href="#page/terms-of-use">Terms of Use</a>
                        </li>
                        <li>
                            <a href="#sitemap/">Sitemap</a>
                        </li>
                        <li>
                            <a href="#page/privacy-policy">Privacy Policy</a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright">
                    © 2019 Dany Site 1
                    <span class="copyright-extra">&nbsp;-Design By DHN</span>
                </p>
            </div>
        </footer>
    </div>
    <div style="display: none" class=" message" id="alert-message">
        <div class="container">
            <div class="row">
                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 text">
                </div>
                <i class="df-cancel-circle close-button"></i>
            </div>
        </div>
    </div>
   
  
  



   
   
  
</body>

</html>