
/* no horizental scroll anymore*/
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -msbox-sizing: border-box;
}
body{
   overflow-x: hidden;
}
img{
   max-width:100%;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    background:#F7F7F7 !important;
}

.top_header nav a {
    color:white !important;
    text-decoration: none !important;
}

.top_header  a {
      color:white !important;
    text-decoration: none !important;
    transition:all 0.2s ease-in-out;

}
.top_header nav a:hover{
        background-color: rgb(167, 81, 212);
 
    font-weight: bold;

      color:white !important;
    text-decoration: none !important; 
}
.top_header{
  background: rgb(116, 31, 162);
  color:white !important;
}
.coupon_box{
  background: white;
  margin:  10px;
  padding: 2px;
}
.coupon_box .short_title1 , .coupon_box .short_title2{
    white-space: nowrap;
    text-transform: uppercase;
    overflow: hidden;
    font-size: 2.5625em;

    font-weight: 800;
    line-height: 1;
    text-align: center;
    overflow: hidden; 
    color: rgb(116, 31, 162);
}

.coupon_box .button {
     display: block;
    font-size: 15px;
    line-height: 1;
    min-width: 13em;
    padding: 1em 0.75em;
    border: none;
        position: relative;
    border-radius: 1000px;
    font-weight: 600;
    font-family: "Avenir Next", "Segoe UI", "Helvetica Neue", Helvetica, Roboto, sans-serif;
    text-align: center;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    transition: background-color 500ms ease 0s, border-color 500ms ease 0s, color 500ms ease 0s, fill 500ms ease 0s;
    -webkit-font-smoothing: antialiased;
    border: thin solid rgb(116, 31, 162);
    background-color: rgb(116, 31, 162);
    color: white;
    font-size: 1rem;
    height: 3rem;
    min-width: 12.5rem;
    padding: 0px 2rem;
    outline: none !important;
}

.coupon_box .title {
  display: block;
    color: rgb(50, 50, 50);
    min-height: calc(38.4px);
    margin-bottom: 5px;
    font-weight: 600;
    line-height: 1.2;
       font-size: 1.5625em;
    overflow-wrap: break-word;
    text-decoration: none;
    letter-spacing: 0.2px;
}
.coupon_box .feature_image {
 width: 50px;
 /*height:  100px;*/
}
/* no horizental scroll anymore*/
.color-coupon{
  background: #11ab56;
  color:white;     text-transform: capitalize;
}
.color-deal{
  background: #118eab;
  color:white;
      text-transform: capitalize;
}

/* stylelint-disable selector-list-comma-newline-after */
.popular_stores .store a p{
      width: 155px;
    height: 30px;
    background: white;
    justify-content: center;
}
#grad1 {
    height: 550px;
    width: 100%;
    /* background-color: #1fc8db; */
    /* background-image: linear-gradient(
141deg
, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); */
    background-color: transparent;
    background-image: linear-gradient(
130deg
, #0700dd 0%, #00f2ff 89%);
    /* background-image: linear-gradient(
130deg
, #ec008c 00%, #fc6767 89%); */
    /* background-image: linear-gradient(
130deg
, #ec008c 10%, #fc6767 89%); */
    color: white;
    opacity: 0.95;
}


.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #727272;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}


a.a_none {
    color: #686e75 !important;
}


a.group {
    color: #ffffff  !important;
    background: #847bff;
}

/*a.list-group-item {
  all: initial;
  * {
    all: unset;
  }
}*/