

.tt-menu{
	background: white !important;
	width: 100% !important;
	height: fit-content !important;
}
.twitter-typeahead,.twitter-typeahead input{
	width: 100%;
}

.twitter-typeahead input{
	padding: : 10px;
}

.tt-dataset{
background: white;
}

.typeahead_single_div a{
/*background: white !important;*/
/*color: black !important;*/
}
.tt-suggestion a span{
	margin-left: 10px;
}
.tt-suggestion a:hover {
	background: #dadada !important;
}


.tt-suggestion a{
background: white !important;
color: black !important;
width: 100% !important;
}